


header{
    // border: solid 2px red;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
}

.boxLogo{
    
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h1{
        color: white;
        font-size: 25px;
    }
}

.boxMenu{
    // border: solid 2px greenyellow;
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: white;
            font-size: 20px;
        }
    }
}

.boxInput{
    border: solid 2px white;
    width: 17vw;
    margin-right: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    input{
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
        padding-left: 6px;
        width: 10vw;
        font-size: 15px;
        &::placeholder{
            color: white;
        }
    }
}


@media(max-width: 1071px){

    .boxLogo{
        width: 25vw;
        // border: solid 2px red;
        h1{
            font-size: 2vw;
        }
        img{
            width: 5vw;
        }
    }
    .boxInput{
       input{
        &::placeholder{
            font-size: 1.1px;
        }
       }
    }

    .boxMenu{
    //  border: solid 2px yellow;
     width: 40vw;
     ul{
        font-size: 1.4vw;
     }

    }

}

@media(max-width: 780px){
    header{
        flex-direction: column;
        height: 30vh;
        justify-content: space-evenly;
    }
    .boxInput{
        display: none;
    }

    .boxLogo{
        width: 80%;
        h1{
            font-size: 25px;
        }
        img{
            width: 70px;
        }
    }

    .boxMenu{
        width: 100%;
    }
}